.loader {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px dashed rgb(143, 10, 155);
  animation: rotate 1s infinite linear;
  z-index: 1000;
}
.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #1c1c21;
  z-index: 900;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.4);
  }
}
